{
    // "plugins": [
    //     [
    //         "@babel/plugin-transform-runtime",
    //         {
    //             "absoluteRuntime": false,
    //             "corejs": 2,//2：当页面中的方法不支持es6时才会转换
    //             "helpers": true,
    //             "regenerator": true,
    //             "useESModules": false
    //         }
    //     ]
    // ]
    "presets": [
        [
            "@babel/preset-env",
            {
                // "targets": {
                //     "chrome": "67"
                // },
                "useBuiltIns": "usage",
                "corejs": "3"
            }
        ]
    ]
}